env/
venv/
*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
.git/
.gitignore
.vscode/
*.log
node_modules/
# staticfiles/ - DO NOT IGNORE - needed for production static files
media/
*.sqlite3
__snapshots__/
